@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
:root {
    --myOnlyColor:linear-gradient(to right, #d2546b, #db4e79, #e1498a, #e4469e, #e447b4, #e049bf, #db4dca, #d551d5, #d153d6, #cc55d6, #c857d7, #c359d7);
    --myShadeBtn:rgba(1,1,1,0.2);
    --myShade:rgba(1,1,1,0.5);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sofia', cursive;
    font-size: 16px;
    background-image: var(--myOnlyColor);
    margin: 20px;
    color: white;
}

ul {
    list-style: none;
}

input,
option,
select,
button {
    font-family: 'Sofia', cursive;
    border-radius: 10%;
}

a {
    text-decoration: none;
}

.btn {
    background: rgb(34, 43, 195);
    background: var(--myShadeBtn);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}


/* Chat Page */

.chat-container {
    max-width: 1100px;
    background: var(--myShadeBtn);
    margin: 30px auto;
    overflow: hidden;
}

.chat-header {
    background: var(--myShade);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
    background: var(--myShade);
    color: white;
    padding: 20px 20px 60px;
    overflow-y: scroll;
}

.chat-sidebar h2 {
    font-size: 20px;
    background: var(--myShade);
    padding: 10px;
    margin-bottom: 20px;
}

.chat-sidebar h3 {
    margin-bottom: 15px;
}

.chat-sidebar ul li {
    padding: 10px 0;
}

.chat-messages {
    padding: 30px;
    max-height: 500px;
    overflow-y: scroll;
}

.chat-messages .message {
    padding: 10px;
    margin-bottom: 15px;
    background-color: var(--myShade);
    border-radius: 5px;
    overflow-wrap: break-word;
}

.chat-messages .message .meta {
    font-size: 15px;
    font-weight: bold;
    color: white;
    opacity: 0.7;
    margin-bottom: 7px;
}

.chat-messages .message .meta span {
    color: #777;
}

.chat-form-container {
    padding: 20px 30px;
    background: var(--myShade);
}

.chat-form-container form {
    display: flex;
}

.chat-form-container input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
}


/* Join Page */

.join-container {
    max-width: 500px;
    margin: 80px auto;
    color: #fff;
}

.join-header {
    text-align: center;
    padding: 20px;
    background: var(--myShade);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 20% 20% 0 0;
}

.join-main {
    padding: 30px 40px;
    border-radius: 0 0 20% 20%;
    background: var(--myShade);
}

.join-main p {
    margin-bottom: 20px;
}

.join-main .form-control {
    margin-bottom: 20px;
}

.join-main label {
    display: block;
    margin-bottom: 5px;
}

.join-main input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.join-main select {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.join-main .btn {
    margin-top: 20px;
    width: 100%;
}

@media (max-width: 700px) {
    .chat-main {
        display: block;
    }
    .chat-sidebar {
        display: none;
    }
}

.fa-comment {
    font-size: 50px;
    color: orange;
}